#details {
    width: 100%;
    height: 100%;
    display: inline-block;
    height: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 0.5rem;
    padding: 5rem 2rem;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.detail-title {
    font-size: 2rem;
}

.backdrop-image {
    width: 100%;
}

.title {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.extra-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    vertical-align: baseline;
}

.poster-image-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: calc(40% - 1.1rem);
    min-height: 100px;
    margin-right: 0.5rem;
}

.extra-details-box {
    display: inline-block;
    width: 60%;
    margin-left: 0.5rem;

    div {
        margin: 0 1rem 1rem;
        font-size: 1.2rem;

        * {
            margin-right: 0.5rem;
        }
    }

    .key-value {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-items: flex-start;

        .key {
            width: 6rem;
        }

        .value {
            display: flex;
            flex-direction: row;
        }
    }
}

.poster-image {
    width: 100%;
}

.overview {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.flag-image {
    width: 5rem;
    height: 3rem;
}

.company-logo {
    width: 5rem;
    background-color: var(--white);
    padding: 0.3rem;
}

.country {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2rem;
    font-size: 0.9rem;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2rem;
    font-size: 0.9rem;
}

.casts-crews {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .casts {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        width: 100%;
        transition: all 1s ease;
        overflow: hidden;

        .cast-detail {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5rem;

            .cast-image-box {
                width: 6.5rem;
                height: 9rem;
                overflow: hidden;
            }

            .cast-image {
                width: 7rem;
                height: 10rem;
            }

            .cast-image:hover {
                transform: scale(1.1);
            }

            .cast-character {
                font-size: 1rem;
            }

            .cast-name {
                font-size: 1rem;
            }
        }

        .cast-detail:hover {
            box-shadow: 2px -1px 25px -2px rgba(0, 0, 0, 0.97);
            transition: box-shadow 0.2s ease-in-out 0s;
        }
    }

    .slider-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .slide-cast-list {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 2.5rem;

            i {
                font-size: 1rem;
            }
        }

        .slide-cast-list:hover {
            border: 1px solid var(--dark);
            border-radius: 25%;
            background-color: var(--pink);
            cursor: pointer;
        }
    }
}


.images-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .images {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        width: 100%;
        transition: all 1s ease;
        overflow: hidden;

        .image-detail {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5rem;

            .image-image-box {
                width: calc(7.2rem * 1.778);
                height: 7.2rem;
                overflow: hidden;
            }

            .image-image {
                width: calc(7.2rem * 1.778);
                height: 7.2rem;
            }
        }

        .image-detail:hover {
            box-shadow: 2px -1px 25px -2px rgba(0, 0, 0, 0.97);
            transition: box-shadow 0.2s ease-in-out 0s;
        }
    }

    .slider-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .slide-cast-list {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 2.5rem;

            i {
                font-size: 1rem;
            }
        }

        .slide-cast-list:hover {
            border: 1px solid var(--dark);
            border-radius: 25%;
            background-color: var(--pink);
            cursor: pointer;
        }
    }
}

.videos-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .videos {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        width: 100%;
        transition: all 1s ease;
        overflow: hidden;

        .video-detail {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5rem;
            width: 100%;
            aspect-ratio: 16 / 9;

            .video-image-box {
                width: 100%;
                overflow: hidden;
                height: 100%;
            }

            .video-image {
                width: 100%;
                height: 100%;
            }
        }

        .video-detail:hover {
            box-shadow: 2px -1px 25px -2px rgba(0, 0, 0, 0.97);
            transition: box-shadow 0.2s ease-in-out 0s;
        }

    }
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;

    .review {
        padding: 1rem;
        border-radius: 0.2rem;
        background-color: var(--dark);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        gap: 1rem;

        .reviewer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 1.5rem;

            .reviewer-image-box {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                border: 1px solid var(--gray);
                overflow: hidden;

                .reviewer-image {
                    width: 100%;
                    height: 100%;
                }
            }

            i {
                padding-right: 0.3rem;
            }

            .reviewer-name {
                font-size: 1.2rem;
            }

            .review-date {
                font-size: 1rem;
            }

            .review-average {
                font-size: 1rem;
            }

        }

        .review-content {
            font-size: 1rem;
        }
    }
}