#trendings,
#trendings2,
#populars,
#populars2 {
    height: 40rem;
    width: 100%;
    background-color: var(--dark);
    position: relative;
    overflow: hidden;
}

.card {
    display: block;
    position: absolute;
    top: 20%;
    width: 44rem;
    height: 29.5rem;
    margin: 0;
    background-color: var(--darker);
}

.left-card {
    left: calc(0% - 22rem);
    opacity: 0.3;
    pointer-events: none;
}

.middle-card {
    left: calc(50% - 22rem);
    opacity: 0.3;
    pointer-events: none;
}

.right-card {
    left: calc(100% - 22rem);
    opacity: 0.3;
    pointer-events: none;
}

.to_left {
    left: calc(0% - 22rem);
    transition: all 0.6s ease;
}

.to_middle {
    left: calc(50% - 22rem);
    transition: all 0.6s ease;
}

.to_right {
    left: calc(100% - 22rem);
    transition: all 0.6s ease;
}

.card.active {
    z-index: 1;
    opacity: 1;
    pointer-events: all;
    transition: all 0.6s ease;
}

.lost {
    opacity: 0;
    transition: all 0.6s ease;
}

.news-poster {
    display: inline-block;
    width: calc(23rem - 17px);
}

.news-poster-img {
    position: relative;
    top: -2rem;
    left: 1.5rem;
    width: 20rem;
}

.news-informations {
    display: inline-block;
    width: 21rem;
    vertical-align: top;
}

.poster-title {
    margin: 2rem 1rem 1rem;
    font-size: 1.8rem;
}

.poster-votes {
    font-size: 1.2rem;
    margin: 1rem;
}

.vote-average {
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

.poster-stars {
    font-size: 1.2rem;
    display: flex;
}

.poster-vote {
    font-size: 1.2rem;
    margin-top: 1rem;
    display: flex;
}

.poster-description {
    font-size: 1.2rem;
    margin: 1.1rem;
    font-size: 1.3rem;
}

.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    overflow: hidden;
    max-width: 50ch;
}

.change-card-poster {
    color: var(--white);
    font-size: 3rem;
}

.slider-buttons-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.change-card-poster-box {
    background-color: var(--pink);
    width: 3rem;
    height: 3rem;
    border: 1.5px solid var(--dark-pink);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 1.6rem;
    }
}

.change-card-poster-box:hover {
    background-color: var(--soft-pink);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}


.change-card-poster-first,
.change-card-poster-second {
    position: relative;
    z-index: 5;
}

.change-card-poster-first {
    top: -20rem;
    left: calc(-22rem - 1rem);
    z-index: 500;
}

.change-card-poster-second {
    top: -20rem;
    left: calc(22rem + 1rem);
    z-index: 500;
}

.change-card-poster:hover {
    font-size: 3rem;
    filter: blur(0.8);
    cursor: pointer;
}

.poster-cast-title {
    display: flex;
    align-items: center;
    margin: 1rem 1.1rem;
    font-size: 1.4rem;
}

.title-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 0.2rem solid var(--yellow);
    padding: 0;
    margin-left: 1.1rem;
}

.title-section * {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.vote_average {
    font-size: 1rem;
    padding-left: 0.5rem;
}

.movie-votes {
    font-size: 1rem;
    padding-left: 1rem;
}


@media (max-width: 685px) {

    #trendings,
    #trendings2,
    #populars,
    #populars2 {
        height: 65rem;
    }

    .card {
        top: 13%;
        margin: 0 0;
        width: 26rem;
        height: 53rem;
    }

    .change-card-poster-first {
        top: -32rem;
        left: calc(-13rem + 1rem);
    }

    .change-card-poster-second {
        top: -32rem;
        left: calc(13rem - 1rem);
    }

    .left-card {
        left: calc(0% - 13rem);
        opacity: 0;
    }

    .middle-card {
        left: calc(50% - 13rem);
        opacity: 0;
    }

    .right-card {
        left: calc(100% - 13rem);
        opacity: 0;
    }

    .to_left {
        left: calc(0% - 13rem);
    }

    .to_middle {
        left: calc(50% - 13rem);
    }

    .to_right {
        left: calc(100% - 13rem);
    }

    .news-poster-img {
        position: relative;
        top: 0.8rem;
        left: 0.8rem;
        width: 93%;
    }

    .news-poster {
        display: inline-block;
        width: 100%;
    }

    .news-informations {
        display: inline-block;
        width: 90%;
        vertical-align: top;
        margin: 0.5rem 1rem;
    }

    .poster-title {
        margin: 0.5rem 0.5rem 0.5rem;
        font-size: 1.2rem;
    }

    .poster-votes {
        font-size: 1rem;
        margin: 0.25rem;
        vertical-align: top;
    }

    .vote-average {
        font-size: 1rem;
        margin: 0.25rem;
        vertical-align: top;
    }

    .poster-stars {
        font-size: 1rem;
        display: flex;
        vertical-align: top;
    }

    .poster-vote {
        font-size: 1rem;
        margin-top: 0.25rem;
        display: flex;
        vertical-align: top;
    }

    .poster-description {
        font-size: 1rem;
        margin: 0.25rem;
        vertical-align: top;
    }

    .poster-cast-title {
        margin: 0.25rem;
        font-size: 1rem;
        vertical-align: top;
    }

    .ellipsis {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        overflow: hidden;
        max-width: 50ch;
    }

}


@media (min-width: 685px) and (max-width: 992px) {

    #trendings,
    #trendings2,
    #populars,
    #populars2 {
        height: 40rem;
    }

    .card {
        top: 24%;
    }

    .left-card {
        opacity: 0;
    }

    .middle-card {
        opacity: 0;
    }

    .right-card {
        opacity: 0;
    }

    .vote_average {
        font-size: 1.5rem;
        padding-left: 0.5rem;
    }

    .movie-votes {
        font-size: 1.5rem;
        padding-left: 1rem;
    }

    .change-card-poster-first {
        top: -19rem;
        left: calc(-22rem);
    }

    .change-card-poster-second {
        top: -19rem;
        left: calc(22rem);
    }
}

@media (min-width: 992px) and (max-width: 1120px) {

    #trendings,
    #trendings2,
    #populars,
    #populars2 {
        height: 45rem;
    }

    .card {
        top: 27%;
    }

    .change-card-poster-first {
        top: -22rem;
    }

    .change-card-poster-second {
        top: -22rem;
    }
}

@media (min-width: 1120px) and (max-width: 1400px) {

    #trendings,
    #trendings2,
    #populars,
    #populars2 {
        height: 40rem;
    }

    .card {
        top: 25%;
    }

    .change-card-poster-first {
        top: -18rem;
    }

    .change-card-poster-second {
        top: -18rem;
    }
}

@media (min-width: 1400px) {}