<app-navbar></app-navbar>
@if (isLoading) {
<app-spinner></app-spinner>
} @else {
@if (tvShows) {
<div style="height: 10rem;"></div>
<section class="general-list">
    <div class="container">
        <div class="object-menu">
            <ul class="object-kind">
                @for (item of menuForTvShows; track item.name; let i = $index) {
                <li class="object-kind-item">
                    <a [class.btnify]="navigateParams.currentTitle==item.name"
                        [class.btn-primary]="navigateParams.currentTitle==item.name" class="font-white"
                        (click)="navigateByParams({currentTitle: item.name, page:1})">
                        <i class="fa-solid fa-glasses font-yellow"></i>
                        {{item.label}}
                    </a>
                </li>
                }
            </ul>
        </div>
        <app-general-list [navigateParams]="navigateParams" [menu]="menuForTvShows" [kind]="'tvshows'"
            (navigateParamsEmitter)="navigateByParams($event)" [generalList]="tvShows"></app-general-list>
    </div>
</section>
<div style="height: 5rem;"></div>
<app-footer></app-footer>
}
}