#details {
    width: 100%;
    height: 100%;
    display: inline-block;
    height: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 0.5rem;
    padding: 5rem 2rem;
    gap: 1rem;
    width: 100%;
}

.detail-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding: 0.3rem;
}

.backdrop-image {
    width: 100%;
    padding: 0.3rem;
}

.backdrop-image-cast {
    width: 50%;
    position: relative;
    transform: translate(50%, 0);
}

.title {
    font-size: 1.8rem;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;

}

.extra-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    vertical-align: baseline;

    .poster-image-box {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .poster-image {
            width: 100%;
            aspect-ratio: 0.667;
            background-color: var(--gray);
        }
    }

    .logo-image-box {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .logo-box {
            width: 100%;
            aspect-ratio: 0.667;
            background-color: var(--light);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .logo-image {
                padding: 0.7rem;
                width: 100%;
            }
        }
    }

    .extra-details-box {
        display: inline-block;
        width: 60%;
        margin-left: 0.5rem;

        div {
            margin: 0 1rem 1rem;
            font-size: 1.2rem;
        }

        .overview {
            width: 100%;
            font-size: 1.2rem;
            line-height: 1.8rem;
        }

        .key-value {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-items: flex-start;
            width: 100%;

            .key {
                width: 25%;
                min-width: 100px;
            }

            .values {
                width: 75%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-items: flex-start;
                flex-wrap: wrap;
                gap: 0.5rem;

                .value {
                    background-color: var(--gray);
                    border-radius: 0.1rem;
                    padding: 0.2rem;

                    .flag-image {
                        width: 4rem;
                        height: 2.5rem;
                    }

                    .company-logo {
                        width: 4rem;
                        background-color: var(--white);
                        padding: 0.3rem;
                    }

                    .country {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 0.2rem;
                        font-size: 0.9rem;
                    }

                    .company {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 0.2rem;
                        font-size: 0.9rem;
                    }

                }
            }
        }
    }
}

.casts-crews {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .casts {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 100%;
        transition: all 1s ease;

        .cast-detail {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5rem;

            .cast-image-box {
                width: 6.3rem;
                aspect-ratio: 0.667;
                overflow: hidden;

                .cast-image {
                    width: 6.3rem;
                    aspect-ratio: 0.667;
                }

                .cast-image:hover {
                    transform: scale(1.1);
                    transition: transform 0.2s ease-in-out;
                }
            }

            .cast-character {
                font-size: 1rem;
            }

            .cast-name {
                font-size: 1rem;
            }
        }

        .cast-detail:hover {
            box-shadow: 2px -1px 25px -2px rgba(0, 0, 0, 0.97);
            transition: box-shadow 0.2s ease-in-out 0s;
        }
    }

    .slider-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .slide-cast-list {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 2.5rem;

            i {
                font-size: 1rem;
            }
        }

        .slide-cast-list:hover {
            border: 1px solid var(--dark);
            border-radius: 25%;
            background-color: var(--pink);
            cursor: pointer;
        }
    }
}


.images-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .images {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 100%;
        transition: all 1s ease;
        overflow: hidden;
        height: 128px;
        overflow: hidden;

        .image-detail {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5rem;
            margin-bottom: 5rem;

            .image-image-box {
                height: 125px;
                overflow: hidden;
            }

            .image-image {
                height: 125px;
            }
        }

        .image-detail:hover {
            box-shadow: 2px -1px 25px -2px rgba(0, 0, 0, 0.97);
            transition: box-shadow 0.2s ease-in-out 0s;
        }
    }

    .slider-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .slide-cast-list {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 2.5rem;

            i {
                font-size: 1rem;
            }
        }

        .slide-cast-list:hover {
            border: 1px solid var(--dark);
            border-radius: 25%;
            background-color: var(--pink);
            cursor: pointer;
        }
    }
}

.videos-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .videos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 100%;
        transition: all 1s ease;
        overflow: hidden;

        .video-detail {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5rem;
            aspect-ratio: 16 / 9;
            flex-grow: 1;
            max-width: 350px;

            .video-image-box {
                width: 100%;
                overflow: hidden;
                height: 100%;
            }

            .video-image {
                width: 100%;
                height: 100%;
            }
        }

        .video-detail:hover {
            box-shadow: 2px -1px 25px -2px rgba(0, 0, 0, 0.97);
            transition: box-shadow 0.2s ease-in-out 0s;
        }

    }
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;

    .review {
        padding: 1rem;
        border-radius: 0.2rem;
        background-color: var(--dark);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        gap: 1rem;

        .reviewer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;

            .reviewer-image-box {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                border: 1px solid var(--gray);
                overflow: hidden;

                .reviewer-image {
                    width: 100%;
                    height: 100%;
                }
            }

            .reviewer-details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 0.4rem;

                i {
                    padding-right: 0.3rem;
                }

                .reviewer-name {
                    font-size: 1.1rem;
                }

                .review-date {
                    font-size: 0.8rem;
                }

                .review-average {
                    font-size: 0.8rem;
                }
            }

        }

        .review-content {
            font-size: 0.9rem;
            line-height: 1.3rem;
        }

        .review-read-all {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            .read-all-button {
                padding: 0 2rem;
                font-size: 1rem;
                font-weight: 300;
            }
        }
    }
}

.share {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.7rem;

    .share-with-button {
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 0.9rem;
        border: 1px solid var(--yellow);
        background-color: var(--gray);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .share-with-button:hover {
        background-color: var(--pink);
        transition: all 0.2s ease-in-out;
    }
}

.providers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin-top: 1.8rem;

    .providers-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .provider {
            width: 3rem;
            height: 3rem;

            .provider-image {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    .providers-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
}

.seasons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .season {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        min-width: 290px;
        padding: 0.5rem;

        .season-poster-image-box {
            width: 40%;

            .season-poster-image {
                width: 100%;
                aspect-ratio: 0.667;
                background-color: var(--gray);
            }
        }

        .season-details {
            width: 60%;
            margin: 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5rem;

            .season-name {
                width: 100%;
                font-size: 1.3rem;
            }

            .season-detail {
                width: 100%;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5rem;
            }

            .key-value {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;

                .key {
                    width: 35%;
                }

                .value {
                    width: 65%;
                    padding-left: 0.5rem;
                }
            }

        }
    }
}


.episodes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .episode {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        min-width: 290px;
        padding: 0.5rem;
        margin-bottom: 1.4rem;

        .episode-still-image-box {
            width: 100%;
            aspect-ratio: 1.6;
            background-color: var(--gray);

            .episode-still-image {
                width: 100%;
                aspect-ratio: 1.6;
            }
        }

        .episode-details {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5rem;

            .episode-name {
                width: 100%;
                font-size: 1.3rem;
            }

            .episode-detail {
                width: 100%;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5rem;
            }

            .key-value {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;

                .key {
                    width: 35%;
                }

                .value {
                    width: 65%;
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

.movies-tvshows-generals {
    width: 100%;
}


/* mobile */
@media (max-width: 685px) {

    .season {
        width: 100%;
        flex-grow: 1;
    }

    .videos {
        display: flex;
        flex-direction: column;

        .video-detail {
            max-width: 1000px !important;
            width: 100%;
        }
    }

    .extra-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;

        .poster-image-box {
            width: 95%;
            max-width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        .extra-details-box {
            width: 100%;
            margin-left: 0.5rem;
        }
    }

    .extra-details {

        .extra-details-box {

            .key-value {

                .key {
                    width: 45%;
                    min-width: 100px;
                }

                .values {
                    width: 55%;

                }
            }
        }
    }

    .seasons {

        .season {

            .season-details {
                gap: 0.3rem;

                .season-detail {
                    font-size: 0.9rem;
                    line-height: 1.1rem;
                }

                .key-value {

                    .key {
                        width: 45%;
                    }

                    .value {
                        width: 55%;
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }

    .episodes {

        .episode {
            width: 100%;
            gap: 1.2rem;

            .episode-details {
                width: 100%;
            }
        }
    }

    .casts-crews {

        .casts {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;

            .cast {
                flex-grow: 1;
                max-width: 17%;

                .cast-detail {
                    width: 100%;

                    .cast-image-box {
                        width: 100%;

                        .cast-image {
                            width: 100%;
                            aspect-ratio: 0.667;
                        }
                    }


                    .cast-character {
                        font-size: 0.6rem;
                    }

                    .cast-name {
                        font-size: 0.6rem;
                    }

                }
            }
        }
    }

    .backdrop-image-cast {
        width: 100%;
        transform: translate(0, 0);
    }
}

/* landscape */
@media (min-width: 685px) and (max-width: 800px) {

    .season {
        width: 100%;
        flex-grow: 1;
    }

    .videos {
        display: flex;
        flex-direction: column;

        .video-detail {
            max-width: 1000px !important;
            width: 100%;
        }
    }

    .extra-details {

        .extra-details-box {

            .key-value {

                .key {
                    width: 40%;
                    min-width: 100px;
                }

                .values {
                    width: 60%;

                }
            }
        }
    }

    .seasons {

        .season {

            .season-details {

                .key-value {

                    .key {
                        width: 40%;
                    }

                    .value {
                        width: 60%;
                        padding-left: 0.5rem;
                    }
                }

            }
        }
    }

    .episodes {

        .episode {
            width: 100%;
            gap: 1.2rem;

            .episode-details {
                width: 100%;
            }
        }
    }

    .casts-crews {

        .casts {

            .cast-detail {

                .cast-image-box {
                    width: 7.1rem;
                    aspect-ratio: 0.667;
                    overflow: hidden;

                    .cast-image {
                        width: 7.1rem;
                        aspect-ratio: 0.667;
                    }
                }
            }
        }
    }

}

@media (min-width: 800px) and (max-width: 992px) {
    .extra-details {

        .extra-details-box {

            .key-value {

                .key {
                    width: 32%;
                    min-width: 100px;
                }

                .values {
                    width: 68%;

                }
            }
        }
    }

    .seasons {

        .season {

            .season-details {

                .key-value {

                    .key {
                        width: 40%;
                    }

                    .value {
                        width: 60%;
                        padding-left: 0.5rem;
                    }
                }

            }
        }
    }

    .casts-crews {

        .casts {

            .cast-detail {

                .cast-image-box {
                    width: 4.8rem;
                    aspect-ratio: 0.667;
                    overflow: hidden;

                    .cast-image {
                        width: 4.8rem;
                        aspect-ratio: 0.667;
                    }
                }

                .cast-character {
                    font-size: 0.75rem;
                }

                .cast-name {
                    font-size: 0.75rem;
                }
            }
        }
    }
}

/* desktop */
@media (min-width: 992px) and (max-width: 1120px) {
    .extra-details {

        .extra-details-box {

            .key-value {

                .key {
                    width: 30%;
                    min-width: 100px;
                }

                .values {
                    width: 70%;
                }
            }
        }
    }

    .seasons {

        .season {

            .season-details {

                .key-value {

                    .key {
                        width: 40%;
                    }

                    .value {
                        width: 60%;
                        padding-left: 0.5rem;
                    }
                }

            }
        }
    }

    .casts-crews {

        .casts {

            .cast-detail {

                .cast-image-box {
                    width: 4.6rem;
                    aspect-ratio: 0.667;
                    overflow: hidden;

                    .cast-image {
                        width: 4.6rem;
                        aspect-ratio: 0.667;
                    }
                }

                .cast-character {
                    font-size: 0.75rem;
                }

                .cast-name {
                    font-size: 0.75rem;
                }
            }
        }
    }
}

/* desktop */
@media (min-width: 1120px) and (max-width: 1400px) {

    .casts-crews {

        .casts {

            .cast-detail {

                .cast-image-box {
                    width: 6rem;
                    aspect-ratio: 0.667;
                    overflow: hidden;

                    .cast-image {
                        width: 6rem;
                        aspect-ratio: 0.667;
                    }
                }
            }
        }
    }


}

/* xlarge desktop */
@media (min-width: 1400px) {}