@if (generalDetails)
{ <div style="height: 20rem;"></div>
<div id="details" class="bg-dark">
    <div class="container">
        <div class="details bg-darker">
            <div class="detail-title font-light bg-dark">
                @if (isMovie(generalDetails)) {
                <p>{{generalDetails.title}}</p>
                }
                @if (isCast(generalDetails) || isTvShow(generalDetails)) {
                <p>{{generalDetails.name}}</p>
                }
            </div>
            @if (isMovie(generalDetails)) {
            <img [src]="`${imageUrl}/${generalDetails.backdrop_path}`" [alt]="`${generalDetails.original_title}`"
                class="backdrop-image">
            }
            @if (isTvShow(generalDetails)) {
            <img [src]="`${imageUrl}/${generalDetails.backdrop_path}`" [alt]="`${generalDetails.name}`"
                class="backdrop-image">
            }
            @if (images.length > 0) {
            <div class="title font-blue bg-dark">
                <p>Medya</p>
            </div>
            <div class="images-box">
                <div class="images">
                    @for (image of images; track image.file_path; let i = $index) {
                    <div class="image-detail">
                        <a class="image" [href]="`${imageUrl}/${image.file_path}`" target="_blank">
                            <div class="image-image-box">
                                <img [src]="`${imageUrl}/${image.file_path}`" class="image-image">
                            </div>
                        </a>
                    </div>
                    }
                </div>
                <div class="slider-buttons">
                    <a (click)="toImageLeft()" class="slide-cast-list">
                        <i class="fa-solid fa-angles-left font-yellow"></i>
                    </a>
                    <a (click)="toImageLeft()" class="slide-cast-list">
                        <i class="fa-solid fa-angle-left font-yellow"></i>
                    </a>
                    <a (click)="toImageRight()" class="slide-cast-list">
                        <i class="fa-solid fa-angle-right font-yellow"></i>
                    </a>
                    <a (click)="toImageRight()" class="slide-cast-list">
                        <i class="fa-solid fa-angles-right font-yellow"></i>
                    </a>
                </div>
            </div>
            }
            <div class="title font-blue bg-dark">
                <p>Detaylar</p>
            </div>
            <div class="extra-details">
                <div class="poster-image-box">
                    @if (isMovie(generalDetails)) {
                    <img [src]="`${imageUrl}/${generalDetails.poster_path}`" [alt]="`${generalDetails.original_title}`"
                        class="poster-image">
                    }
                    @if (isTvShow(generalDetails)) {
                    <img [src]="`${imageUrl}/${generalDetails.poster_path}`" [alt]="`${generalDetails.name}`"
                        class="poster-image">
                    }
                    @if (isCast(generalDetails)) {
                    <img [src]="`${imageUrl}/${generalDetails.profile_path}`" [alt]="`${generalDetails.name}`"
                        class="poster-image">
                    }
                    @if (isInUserFavorite) {
                    <button (click)="addFavorite(generalDetails.id)" type="button" class="btn btn-primary">
                        Favorilere Ekle
                    </button>
                    } @else {
                    <button (click)="RemoveFavorite(generalDetails.id)" type="button" class="btn btn-primary">
                        Favorilerden Çıkar
                    </button>
                    }
                    @if (isMovie(generalDetails)) {
                    <div class="share">
                        <a [href]="`https://api.whatsapp.com/send?text=${generalDetails.title}+${basePath}/movies/${generalId}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-whatsapp font-light"></i>
                            </div>
                        </a>
                        <a [href]="`https://t.me/share/url?url=${basePath}/movies/${generalId}/&text=${generalDetails.title}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-telegram font-light"></i>
                            </div>
                        </a>
                        <a [href]="`https://x.com/intent/post?text=${generalDetails.title}=${basePath}/movies/${generalId}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-x-twitter font-light"></i>
                            </div>
                        </a>
                        <a [href]="`https://tr.pinterest.com/pin/create/button/?url=${basePath}/movies/${generalId}/${generalDetails.title}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-pinterest font-light"></i>
                            </div>
                        </a>
                    </div>
                    }
                    @if (isTvShow(generalDetails)) {
                    <div class="share">
                        <a [href]="`https://api.whatsapp.com/send?text=${generalDetails.name}+${basePath}/tvshows/${generalId}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-whatsapp font-light"></i>
                            </div>
                        </a>
                        <a [href]="`https://t.me/share/url?url=${basePath}/tvshows/${generalId}/&text=${generalDetails.name}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-telegram font-light"></i>
                            </div>
                        </a>
                        <a [href]="`https://x.com/intent/post?text=${generalDetails.name}=${basePath}/tvshows/${generalId}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-x-twitter font-light"></i>
                            </div>
                        </a>
                        <a [href]="`https://tr.pinterest.com/pin/create/button/?url=${basePath}/tvshows/${generalId}/${generalDetails.name}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-pinterest font-light"></i>
                            </div>
                        </a>
                    </div>
                    }
                    @if (isCast(generalDetails)) {
                    <div class="share">
                        <a [href]="`https://api.whatsapp.com/send?text=${generalDetails.name}+${basePath}/casts/${generalId}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-whatsapp font-light"></i>
                            </div>
                        </a>
                        <a [href]="`https://t.me/share/url?url=${basePath}/casts/${generalId}/&text=${generalDetails.name}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-telegram font-light"></i>
                            </div>
                        </a>
                        <a [href]="`https://x.com/intent/post?text=${generalDetails.name}=${basePath}/casts/${generalId}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-x-twitter font-light"></i>
                            </div>
                        </a>
                        <a [href]="`https://tr.pinterest.com/pin/create/button/?url=${basePath}/casts/${generalId}/${generalDetails.name}`"
                            target="_blank" class="share-with-button">
                            <div class="share-with">
                                <i class="fa-brands fa-pinterest font-light"></i>
                            </div>
                        </a>
                    </div>
                    }
                    @if (providers && providers.length > 0) {
                    <div class="providers">
                        <div class="providers-title font-blue">
                            Nerden İzlenir?
                        </div>
                        <div class="providers-box">
                            @for (provider of providers; track provider.provider_id; let i = $index) {
                            <div class="provider">
                                <img [src]="`${imageUrl}/${provider.logo_path}`" [alt]="`${provider.provider_name}`"
                                    class="provider-image">
                            </div>
                            }
                        </div>
                    </div>
                    }
                </div>
                <div class="extra-details-box">
                    @if (isMovie(generalDetails) || isTvShow(generalDetails)) {
                    <div class="overview font-light">
                        <p>{{generalDetails.overview}}</p>
                    </div>
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Puan:</span>
                        <span class="value font-yellow">
                            <i class="fa-solid fa-star font-yellow"></i>
                            {{ helperService.getFloor(generalDetails.vote_average) }}/10
                        </span>
                    </div>
                    }
                    @if (isCast(generalDetails)) {
                    <div class="overview font-light">
                        <p>{{generalDetails.biography}}</p>
                    </div>
                    }
                    @if (isMovie(generalDetails)) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Yayın Tarihi:</span>
                        <span class="value">
                            {{generalDetails.release_date | dayMonthYear}}
                        </span>
                    </div>
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Süre:</span>
                        <span class="value">
                            {{generalDetails.runtime | duration}}
                        </span>
                    </div>
                    }
                    @if (isTvShow(generalDetails)) {
                    @if (generalDetails.first_air_date) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Başlangıç Tarihi:</span>
                        <span class="value">
                            {{generalDetails.first_air_date | dayMonthYear}}
                        </span>
                    </div>
                    }
                    @if (generalDetails.last_air_date) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Bitiş Tarihi:</span>
                        <span class="value">
                            {{generalDetails.last_air_date | dayMonthYear}}
                        </span>
                    </div>
                    }
                    }
                    @if (isMovie(generalDetails) || isTvShow(generalDetails)) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Tür:</span>
                        <span class="values">
                            @for (item of generalDetails.genres; track item.id; let i = $index) {
                            <span class="value">
                                <a class="text hover-effect">
                                    <span>
                                        {{item.name}}
                                    </span>
                                </a>
                            </span>
                            }
                        </span>
                    </div>
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Diller:</span>
                        <span class="values">
                            @for (item of generalDetails.spoken_languages; track item.iso_639_1; let i = $index) {
                            <span class="value">
                                <a class="text hover-effect">
                                    <span class="text">
                                        {{item.english_name}}
                                    </span>
                                </a>
                            </span>
                            }
                        </span>
                    </div>
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Ülke:</span>
                        <span class="values">
                            @for (item of generalDetails.production_countries; track item.iso_3166_1; let i =
                            $index) {
                            <a class="value hover-effect">
                                <span class="country">
                                    <p class="font-light">{{item.iso_3166_1}}</p>
                                    <img [src]="item.flag_path" [alt]="item.name" class="flag-image">
                                </span>
                            </a>
                            }
                        </span>
                    </div>
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Yapımcı:</span>
                        <span class="values">
                            @for (item of generalDetails.production_companies; track item.id; let i = $index) {
                            <a class="value hover-effect">
                                <span class="company">
                                    <p class="font-light">{{item.name | truncate: 8}}</p>
                                    @if (item.logo_path) {
                                    <img [src]="`${imageUrl}/${item.logo_path}`" [alt]="item.name" class="company-logo">
                                    }
                                </span>
                            </a>
                            }
                        </span>
                    </div>
                    }
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Populerlik:</span>
                        <span class="value">{{generalDetails.popularity}}</span>
                    </div>
                    @if (isCast(generalDetails)) {
                    @if (generalDetails.place_of_birth) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Doğum Tarihi:</span>
                        <span class="value" style="margin-right: 1rem;">
                            {{generalDetails.birthday | dayMonthYear}}
                        </span>
                        <i class="value">
                            ({{generalDetails.birthday | calculateAge}} yaşında)
                        </i>
                    </div>
                    }
                    @if (generalDetails.deathday) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">VIP:</span>
                        <span class="value">
                            {{generalDetails.deathday | dayMonthYear}}
                        </span>
                    </div>
                    }
                    @if (castMovies && castMovies.results) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Oynadığı Fimler:</span>
                        <span class="value">
                            {{castMovies.total_results}}
                        </span>
                    </div>
                    }
                    @if (crewMovies && crewMovies.results) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Yönettiği Fimler:</span>
                        <span class="value">
                            {{crewMovies.total_results}}
                        </span>
                    </div>
                    }
                    @if (castTvShows && castTvShows.results) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Oynadığı Diziler:</span>
                        <span class="value">
                            {{castTvShows.total_results}}
                        </span>
                    </div>
                    }
                    @if (crewTvShows && crewTvShows.total_results) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Yönettiği Diziler:</span>
                        <span class="value">
                            {{crewTvShows.total_results}}
                        </span>
                    </div>
                    }
                    }
                    @if (isMovie(generalDetails) && generalDetails.budget) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Butçe:</span>
                        <span class="value">{{generalDetails.budget | currency}}</span>
                    </div>
                    }
                    @if (isMovie(generalDetails) && generalDetails.revenue) {
                    <div class="key-value font-light">
                        <span class="key font-soft-pink">Hasılat:</span>
                        <span class="value">{{generalDetails.revenue | currency}}</span>
                    </div>
                    }
                </div>
            </div>
            @if (videos && videos.length > 0) {
            <div class="title font-blue bg-dark">
                <p>Fragmanlar</p>
            </div>
            <div class="videos-box">
                <div class="videos">
                    @for (video of videos; track video.key; let i = $index) {
                    <div class="video-detail">
                        <iframe class="video-image" [src]="helperService.getSafeUrl(video.key)" title="{{ video.name }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                    </div>
                    }
                </div>
            </div>
            }
            @if (isMovie(generalDetails) || isTvShow(generalDetails)) {
            @if (castsCrews!.casts.length > 0) {
            <div class="title font-blue bg-dark">
                <p>Oyuncular</p>
            </div>
            <div class="casts-crews">
                <div class="casts">
                    @for (cast of castsCrews!.casts; track cast.id; let i = $index) {
                    <a class="cast" [routerLink]="`/casts/${cast.id}`">
                        <div class="cast-detail">
                            <div class="cast-image-box">
                                <img [src]="`${imageUrl}/${cast.profile_path}`" [alt]="cast.name" class="cast-image">
                            </div>
                            <span class="cast-character font-gray">
                                {{cast.character | truncate: 11}}
                            </span>
                            <span class="cast-name font-light">
                                {{cast.original_name | truncate: 11}}
                            </span>
                        </div>
                    </a>
                    }
                </div>
                <div class="slider-buttons">
                    <a (click)="toCastLeft()" class="slide-cast-list">
                        <i class="fa-solid fa-angles-left font-yellow"></i>
                    </a>
                    <a (click)="toCastLeft()" class="slide-cast-list">
                        <i class="fa-solid fa-angle-left font-yellow"></i>
                    </a>
                    <a (click)="toCastRight()" class="slide-cast-list">
                        <i class="fa-solid fa-angle-right font-yellow"></i>
                    </a>
                    <a (click)="toCastRight()" class="slide-cast-list">
                        <i class="fa-solid fa-angles-right font-yellow"></i>
                    </a>
                </div>
            </div>
            }
            @if (castsCrews!.crews.length > 0) {
            <div class="title font-blue bg-dark">
                <p>Yazar ve Yönetmenler</p>
            </div>
            <div class="casts-crews">
                <div class="casts">
                    @for (crew of castsCrews!.crews; track crew.id; let i = $index) {
                    <a lass="cast" [routerLink]="`/casts/${crew.id}`">
                        <div class="cast-detail">
                            <div class="cast-image-box">
                                <img [src]="`${imageUrl}/${crew.profile_path}`" [alt]="crew.name" class="cast-image">
                            </div>
                            @if (isMovie(generalDetails)) {
                            <span class="cast-character font-gray">
                                {{crew.known_for_department | truncate: 11}}
                            </span>
                            } @else if(isTvShow(generalDetails)) {
                            <span class="cast-character font-gray">
                                {{crew.department | truncate: 11}}
                            </span>
                            }
                            <span class="cast-name font-light">
                                {{crew.original_name | truncate: 11}}
                            </span>
                        </div>
                    </a>
                    }
                </div>
                <div class="slider-buttons">
                    <a (click)="toCrewLeft()" class="slide-cast-list">
                        <i class="fa-solid fa-angles-left font-yellow"></i>
                    </a>
                    <a (click)="toCrewLeft()" class="slide-cast-list">
                        <i class="fa-solid fa-angle-left font-yellow"></i>
                    </a>
                    <a (click)="toCrewRight()" class="slide-cast-list">
                        <i class="fa-solid fa-angle-right font-yellow"></i>
                    </a>
                    <a (click)="toCrewRight()" class="slide-cast-list">
                        <i class="fa-solid fa-angles-right font-yellow"></i>
                    </a>
                </div>
            </div>
            }
            }
            @if (isTvShow(generalDetails) && generalDetails.seasons && generalDetails.seasons.length > 0) {
            <div class="title font-blue bg-dark">
                <p>Bölümler</p>
            </div>
            <div class="seasons">
                @for (season of generalDetails.seasons; track season.id; let i = $index) {
                @if (season.name != "Özel Gösterim") {
                <div class="season">
                    <div class="season-poster-image-box">
                        <img [src]="`${imageUrl}/${season.poster_path}`" [alt]="season.name"
                            class="season-poster-image">
                    </div>
                    <div class="season-details">
                        @if (season.name) {
                        <div class="season-name font-turquose">
                            {{season.name}}
                        </div>
                        }
                        @if (season.overview) {
                        <div class="season-detail font-light">
                            {{season.overview}}
                        </div>
                        }
                        @if (season.vote_average) {
                        <div class="season-detail key-value">
                            <div class="key font-soft-pink">
                                Bölüm Puanı:
                            </div>
                            <div class="value font-yellow">
                                <i class="fa-solid fa-star"></i>
                                {{ season.vote_average}}/10
                            </div>
                        </div>
                        }
                        @if (season.air_date) {
                        <div class="season-detail key-value">
                            <div class="key font-soft-pink">
                                Yayın Tarihi:
                            </div>
                            <div class="value font-light">
                                {{ season.air_date | dayMonthYear}}
                            </div>
                        </div>
                        }
                        @if (season.episode_count) {
                        <div class="season-detail key-value">
                            <div class="key font-soft-pink">
                                Bölüm Sayısı:
                            </div>
                            <div class="value font-light">
                                {{ season.episode_count}}
                            </div>
                        </div>
                        }
                    </div>
                </div>
                }
                }
            </div>
            }
            @if (reviews && reviews.results.length > 0) {
            <div class="title font-blue bg-dark">
                <p>Yorumlar</p>
            </div>
            <div class="reviews">
                @for (review of reviews.results; track review.id; let i = $index) {
                <div class="review">
                    <div class="reviewer">
                        <div class="reviewer-image-box">
                            @if (review.author_details.avatar_path) {
                            <img [src]="`${imageUrl}/${review.author_details.avatar_path}`" class="reviewer-image">
                            } @else {
                            <img [src]="'/assets/img/avatar-male.jpg'" class="reviewer-image">
                            }
                        </div>
                        @if (review.author_details.name || review.author_details.username) {
                        <div class="reviewer-name font-light">
                            <p>
                                <i class="fa-solid fa-circle-user"></i>
                                @if (review.author_details.name) {
                                {{review.author_details.name}}
                                } @else{
                                {{review.author_details.username}}
                                }
                            </p>
                        </div>
                        }
                        <div class="review-date font-soft-pink">
                            <p>
                                <i class="fa-solid fa-calendar"></i>
                                {{review.created_at | dayMonthYear}}
                            </p>
                        </div>
                        <div class="review-average font-yellow">
                            <p>
                                <i class="fa-solid fa-star"></i>
                                {{ review.author_details.rating }}/10
                            </p>
                        </div>
                    </div>
                    <div class="review-content">
                        @if (openedReviewIds.includes(review.id)) {
                        <p class="font-light" [innerText]="review.content"></p>
                        } @else {
                        <p class="font-light" [innerText]="review.content | truncate: 500"></p>
                        }
                    </div>
                    <div class="review-read-all">
                        @if (review.content.length > 500) {
                        <a (click)="readAllToggle(review.id)" class="read-all-button font-blue hover-effect">
                            @if (openedReviewIds.includes(review.id)) {Kapat} @else {Devamını oku}
                        </a>
                        }
                    </div>
                </div>
                }
            </div>
            }
            @if (similarGenerals && similarGenerals.results.length > 0) {
            <div class="title font-blue bg-dark">
                <p>Benzer Filmler</p>
            </div>
            <div>
                <app-general-list [currentPage]="similarGeneralsPage"
                    [generalList]="similarGenerals"></app-general-list>
                <div class="pages">
                    <div class="pages-box">
                        <a (click)="getPreviousSimilarGenerals()" class="page font-white"
                            [class.disabled]="similarGeneralsPage-1<=0">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                        @for (page of helperService.getPagesArray(similarGenerals.total_pages, similarGeneralsPage);
                        track page; let i = $index) {
                        <div>
                            <a [class.page-btn]="page == similarGenerals.page" (click)="getSimilarGeneralsByPage(page)"
                                class="page font-white">
                                {{ page }}
                            </a>
                        </div>
                        }
                        <a (click)="getNextSimilarTvShows()" class="page font-white"
                            [class.disabled]="similarGeneralsPage+1>=similarGenerals.total_pages || similarGeneralsPage+1>=500">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            }
            @if (isCast(generalDetails)) {
            @if (castMovies && castMovies.total_results > 0) {
            <div class="title font-blue bg-dark">
                <p>Oynadığı Filmler</p>
            </div>
            <div>
                <app-general-list [currentPage]="castMovies.page" [generalList]="pagedGenerals!"></app-general-list>
                <div class="pages">
                    <div class="pages-box">
                        <a (click)="getPreviousCastMovies()" class="page font-white"
                            [class.disabled]="castMovies.page-1<=0">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                        @for (page of helperService.getPagesArray(castMovies.total_pages, castMovies.page);
                        track page; let i = $index) {
                        <div>
                            <a [class.page-btn]="page == castMovies.page" (click)="getSimilarCastMoviesByPage(page)"
                                class="page font-white">
                                {{ page }}
                            </a>
                        </div>
                        }
                        <a (click)="getNextCastMoviesTvShows()" class="page font-white"
                            [class.disabled]="similarGeneralsPage+1>=castMovies.total_pages || similarGeneralsPage+1>=500">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            }
            @if (castMovies && castMovies.total_results > 0) {

            }
            }
        </div>
    </div>
</div>
}