#objects {
    background-color: var(--darker);
    margin: 0;
}

.objects {
    gap: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    border-radius: 0.2rem;
}

.object {
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    position: relative;
    height: calc(12rem * 1.5);
    position: relative;
}

.object-poster-box {
    overflow: hidden;
    position: relative;
    width: 12rem;
    height: calc(12rem * 1.5);
}

.object-logo-box {
    overflow: hidden;
    position: relative;
    width: 12rem;
    height: calc(12rem * 1.5);
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.object:hover {
    box-shadow: 2px -1px 25px -2px rgba(0, 0, 0, 0.86);
    transition: box-shadow 0.4s ease-in-out 0s;
}

.object-poster {
    width: 12rem;
    height: calc(12rem * 1.5);
    align-self: center;
    transition: transform 0.4s ease-in-out;
    transform-origin: center;
    background: rgba(0, 0, 0, 0.5);
}

.object-logo {
    width: 96%;
    padding: 1rem;
    align-self: center;
    transition: transform 0.4s ease-in-out;
    transform-origin: center;
    background: rgba(0, 0, 0, 0.5);
}

.object-logo-box::after,
.object-poster-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.object-logo:hover,
.object-poster:hover {
    transform: scale(1.1);
}

.object-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    padding: 0.5rem;
}

.object-title {
    font-size: 1rem;
    font-weight: 300;
}

.object-known-with {
    font-size: .7rem;
    font-weight: 300;
    position: relative;
    bottom: -11rem;
}

.object-known-with-item {
    position: relative;
    right: -1rem;
    z-index: 1;
}

.ellipsis2 {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    max-width: 25ch;
}

.object-informations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 0.7rem;
}

.object-menu {
    padding-bottom: 0.6rem;
}

.object-kind {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 1rem;
}

.object-kind-item a {
    display: inline-block;
    font-size: 14px;
    height: 36px;
    padding: 8px 10px 3px 10px;
    pointer-events: all;
}

.btnify {
    border-radius: 1rem;
    border: 1px solid var(--dark-pink);
}

.object-kind-item a:hover {
    cursor: pointer;
    color: var(--pink);
}

.object-known-with a:hover {
    cursor: pointer;
    color: var(--pink);
}