#loading {
    background-color: var(--dark);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading img {
    animation: playing 4s infinite;
    animation-timing-function: linear;
}