@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');


:root {
    --turquose: rgb(36, 137, 120);
    --white: #ffffff;
    --black: rbg(0, 0, 0);
    --gray: #45474B;
    --dark: #22262a;
    --yellow: #F4CE14;
    --pink: #E90074;
    --dark-pink: #D80032;
    --dark-pink: #D80032;
    --darker: #1b1e21;
    --soft-pink: #F78CA2;
    --blue: #009FBD;
    --light: #d2ccc4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.6rem;
    width: 100%;
    background-color: var(--dark);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    pointer-events: all;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.bg-dark {
    background-color: var(--dark);
}

.bg-darker {
    background-color: var(--darker);
}

.bg-pink {
    background-color: var(--pink);
}

.font-turquose {
    color: var(--turquose);
}

.font-white {
    color: var(--white);
}

.font-black {
    color: var(--black);
}

.font-gray {
    color: var(--gray);
}

.font-dark {
    color: var(--dark);
}

.font-yellow {
    color: var(--yellow);
}

.font-pink {
    color: var(--pink);
}

.font-soft-pink {
    color: var(--soft-pink);
}

.font-blue {
    color: var(--blue);
}

.font-light {
    color: var(--light);
}

.container {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
}

/* buttons */
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    width: 13rem;
    margin: .3rem 0;
    font-size: 1rem;
    border: 1px solid var(--dark-pink);
    pointer-events: all;
}

.btn-primary {
    background-color: var(--pink);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--soft-pink);
    color: var(--white);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.hover-effect:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: var(--soft-pink);
}

@keyframes playing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.back-to-top {
    background-color: var(--pink);
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--dark-pink);
    border-radius: 50%;
    position: relative;
    bottom: 30rem;
    left: calc(100% - 9rem);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5rem;

    i {
        font-size: 2rem;
    }
}

.back-to-top:hover {
    background-color: var(--soft-pink);
    transition: all 0.2s ease-in-out;
}

/* mobile */
@media (max-width: 685px) {

    html {
        font-size: 70%;
    }

    .container {
        width: 98%;
        margin: 0 1%;
    }
}


/* landscape */
@media (min-width: 685px) and (max-width: 800px) {

    html {
        font-size: 75%;
    }

    .container {
        width: 550px;
        margin: 0 auto;
    }
}

@media (min-width: 800px) and (max-width: 992px) {

    html {
        font-size: 80%;
    }

    .container {
        width: 740px;
        margin: 0 auto;
    }
}

/* desktop */
@media (min-width: 992px) and (max-width: 1120px) {

    html {
        font-size: 85%;
    }

    .container {
        width: 750px;
        margin: 0 auto;
    }
}

/* desktop */
@media (min-width: 1120px) and (max-width: 1400px) {

    html {
        font-size: 90%;
    }

    .container {
        width: 1000px;
        margin: 0 auto;
    }
}

/* xlarge desktop */
@media (min-width: 1400px) {

    html {
        font-size: 100%;
    }

    .container {
        width: 1000px;
        margin: 0 auto;
    }
}